.swiper {
  max-height: 300px;
  &__image {
    max-width: 100%;
  }
  &-button-next {
    background-color: #fff;
    color: #000;
    width: 40px;
    height: 40px;
    padding: 0.75rem;
    font-weight: 800;
    border-radius: 50%;
    transform: translateX(-16px);
  }
  &-button-prev {
    @extend .swiper-button-next;
    transform: translateX(16px);
  }
}