.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 19px 24px 24px;
  &__menu {
    display: flex;
    align-items: center;
    gap: 16px;
    &-icon {
      transform: translateY(3px);
      cursor: pointer;
    }
  }
  &__cart-and-profile {
    display: flex;
    align-items: center;
    gap: 24px;
    img {
      width: 26px;
    }
  }
}
